@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button{
        appearance: none;
        -webkit-appearance: none;
    }
    input[type=number] {
        appearance: none;
        -moz-appearance: textfield;
    }
    input[disabled], input:disabled, select:disabled, select[disabled] {
        background-color: #fdfdfd !important;
        color: rgb(63, 63, 63) !important;
    }
}